@font-face {
  font-family: 'Futura-Book';
  src: url('fonts/futuraBook/FuturaStd-Book.eot'); /* IE9 Compat Modes */
  src: url('fonts/futuraBook/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futuraBook/FuturaStd-Book.woff') format('woff'), /* Modern Browsers */
       url('fonts/futuraBook/FuturaStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futuraBook/FuturaStd-Book.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('fonts/futuraBold/futurab.eot'); /* IE9 Compat Modes */
  src: url('fonts/futuraBold/futurab.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futuraBold/futurab.woff') format('woff'), /* Modern Browsers */
       url('fonts/futuraBold/futurab.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futuraBold/futurab.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Futura-ExtraBold';
  src: url('fonts/futuraExtrabold/FuturaStd-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/futuraExtrabold/FuturaStd-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futuraExtrabold/FuturaStd-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('fonts/futuraExtrabold/FuturaStd-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futuraExtrabold/FuturaStd-ExtraBold.svg#c5848c9cabbbe464cb22cc47f7de3445') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('fonts/futuraMedium/FuturaStd-Heavy.eot'); /* IE9 Compat Modes */
  src: url('fonts/futuraMedium/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futuraMedium/FuturaStd-Heavy.woff') format('woff'), /* Modern Browsers */
       url('fonts/futuraMedium/FuturaStd-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futuraMedium/FuturaStd-Heavy.svg#f957ac4f7c9e44228c64976e40b8d5f5') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Futura-Light';
  src: url('fonts/futuraLight/FuturaStd-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/futuraLight/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futuraLight/FuturaStd-Light.woff') format('woff'), /* Modern Browsers */
       url('fonts/futuraLight/FuturaStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futuraLight/FuturaStd-Light.svg#d83a536671d160add994a83c5144bd9a') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'American-Typewriter';
  src: url('fonts/americanTypewriter/american-typewriter.eot'); /* IE9 Compat Modes */
  src: url('fonts/americanTypewriter/american-typewriter.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/americanTypewriter/american-typewriter.woff') format('woff'), /* Modern Browsers */
       url('fonts/americanTypewriter/american-typewriter.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/americanTypewriter/american-typewriter.svg#6f19132f88a31e558d9baa87fbbc8624') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}