@import "fonts.css";


* {
   margin            : 0;
   padding           : 0;
   list-style        : none;
   box-sizing        : border-box;
   -webkit-box-sizing: border-box;
   /* Safari/Chrome, other WebKit */
   -moz-box-sizing   : border-box;
}


html{
  height: 100%;
  box-sizing: border-box;
}

figcaption{
   display: none;
}

li{
  list-style: none;
  letter-spacing: 0;
}

a{
  text-decoration: none;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family   : 'Futura-Bold', sans-serif;
    font-style    : normal;
    font-weight   : 400;
    letter-spacing: 0px;
}


/* background base - colors */

.blue{
  background-color: #234789;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}

.red{
  background-color: #CE2432;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}

.yellow{
  background-color: #F2C245;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
     -o-transition: all 0.5s ease;
     transition: all 0.5s ease;
}

/* site styles */

body{
  font-size: 1em;
  height: 100%;
}



/*=====================================
=            header styles            =
=====================================*/
    .main-header{
      padding: 2rem;
    }

    .sectionBtn{
      z-index:999 !important;
    }

    .main-header h2{
      text-transform: uppercase;
      color: #FFF;
      font-size: 1.4em;
      font-weight: normal;
      line-height: 1.3em;
      letter-spacing: 0.5px;
    }


    nav.slidernav-top ol{
      position: absolute;
      right: 35px;
      top: 70px;
    }


    nav.slidernav-top ol li{
      cursor: pointer;
      float: left;
      margin-left: 10px;
      background-color: rgba(0,0,0,0.3);
      border-radius: 50%;
      width: 10px;
      height: 10px;
      display: block;
      position: relative;
    }

    /* slider top over by background colors */

    ol.bg-yellow li:hover, ol.bg-yellow > li.item-navtop.actived{
      background-color: #F5C530;
      border: 3px solid #B78E32;
    }

    ol.bg-blue li:hover, ol.bg-blue > li.item-navtop.actived{
      background-color: #234789;
      border: 3px solid #1B366D;
    }

    ol.bg-red li:hover, ol.bg-red > li.item-navtop.actived{
      background-color: #CE2432;
      border: 3px solid #960E1D;
    }

    /* end slider top over by background colors  */

    nav.slidernav-top ol li span{
      position: absolute;
      top: -38px;
      left: -2px;
      z-index: 2;
      color: #FFF;
      font-family: 'Futura-Book', sans-serif;
      display: none;
    }

    .thumb_slider{
      display: none;
    }

    .thumb_slider_top_yellow{
    background: url('../images/thumb_slider_top_yellow.png') no-repeat 0 0;
    }

    .thumb_slider_top_blue{
     background: url('../images/thumb_slider_top_blue.png') no-repeat 0 0;
    }

    .thumb_slider_top_red{
      background: url('../images/thumb_slider_top_red.png') no-repeat 0 0;
    }

    .thumb_slider_top_yellow,
    .thumb_slider_top_blue,
    .thumb_slider_top_red{
      width: 41px;
      height: 44px;
      position: absolute;
      top: -50px;
      left: -18px;
    }



/*-----  End of header styles  ------*/

/*======================================================
=            content pages and steps styles            =
======================================================*/

  .arrow_right{
    position: absolute;
    right: 30px;
    top: 45%;
    z-index: 3;
  }

  .arrow_right_last{
    position: absolute;
    right: 30px;
    top: 45%;
    z-index: 3;
  }

  .hide_arrow{
    display: none;
  }

  div.next-btn-arrow{
    font-size: 3em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  div.next-btn-arrow_last{
    font-size: 3em;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }

  section.intro{
    text-align: center;
    position: relative;
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    top: 50%;
  }

  section.name-step{
    text-align: center;
    position: relative;
    -webkit-transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    top: 40%;
  }

  .questions{
    margin-top: 30px;
  }

  h2.intro-header{
    font-size: 75px;
    color: #FFF;
    text-transform: uppercase;
    width: 895px;
    margin: 0 auto;
  }

  .name-step h3{
    color: #FFF;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 30px;
  }

  input.name-input{
    background-color: #1B366D;
    border: 1px solid #234789 !important;
    box-shadow: inset 0 1px 3px #071C47 !important;
    text-align: center;
    color: #FFF;
    height: 55px;
    font-size: 1.2em;
    border-radius: 10px !important;
    width: 400px;
    font-family: 'arial',serif !important;
  }

  input.error{
    border-color: red !important;
  }

  a.generic-btn{
    z-index: 999;
    position: relative;
    background-color: rgba(27,54,109,0.3);
    color: #FFF;
    text-align: left;
    padding: 10px 25px;
    border-radius: 20px;
    display: block;
    width: 150px;
    margin: 40px auto;
    letter-spacing: 0.5px;
  }

  a.generic-btn:hover{
    background-color: rgba(27,54,109,1);
  }


  /*==========  question drops styles  ==========*/

    .wrap-q{
      width: 350px;
      margin: 0 auto;
      position: relative;
    }

    .title-question-1, .title-question-2, .title-question-3,
    .title-question-4, .title-question-5, .title-question-6 {
      font-family: 'American-Typewriter', serif;
      text-align: center;
      color: #FFF;
      font-size: 2.1em;
      width: 240px;
      position: absolute;
      text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.4);
    }

    .title-question-1{
      top: 105px;
      left: 65px;
    }

    .title-question-2{
      top: 80px;
      left: 65px;
      font-size: 30px;
    }

    .title-question-3{
      top: 100px;
      left: 65px;
      font-size: 30px;
    }

    .title-question-4{
      top: 115px;
      left: 65px;
      font-size: 24px;
    }

    .title-question-5{
      top: 120px;
      left: 70px;
    }

    .title-question-6{
      top: 125px;
      left: 65px;
    }

    .q-selector{
      padding-right: 150px;
      margin-top: 3%;
    }

    .bg_drop{
       fill: #FFF;
    }

    .drop_circle_yellow{
      fill: #F5C530 ;
    }

    .drop_circle_blue{
      fill: #234789 ;
    }

    .drop_circle_red{
      fill: #CE2432 ;
    }

    /*==========  input red styles  ==========*/

    input[type="radio"]{
      display:none;
    }

    input[type="radio"] + label.radio-red span {
        display:inline-block;
        width:20px;
        height:20px;
        vertical-align:middle;
        background-color: #960E1D;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 15px;
        margin-left: -35px;
    }

    input[type="radio"]:checked + label.radio-red span {
        background-color: #F2C245;
        border: 6px solid #960E1D;
    }

    input[type="radio"] + label.radio-blue span {
        display:inline-block;
        width:20px;
        height:20px;
        vertical-align:middle;
        background-color: #1B366D;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 15px;
        margin-left: -35px;
    }

    input[type="radio"]:checked + label.radio-blue span {
        background-color: #CE1C30;
        border: 6px solid #1B366D;
    }

    input[type="radio"] + label.radio-yellow span {
        display:inline-block;
        width:20px;
        height:20px;
        vertical-align:middle;
        background-color: #B78E32;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 15px;
        margin-left: -35px;
    }

    input[type="radio"]:checked + label.radio-yellow span {
        background-color: #CE1C30;
        border: 6px solid #B78E32;
    }

    label.radio-red, label.radio-yellow, label.radio-blue{
      display: block;
      color: #FFF;
      font-size: 28px;
      margin-bottom: 40px;
    }

    a.next-btn-red{
      background-color: rgba(150, 14, 29, 0.3);
      color: #FFF;
      text-align: left;
      padding: 10px 25px;
      border-radius: 20px;
      display: block;
      width: 150px;
      letter-spacing: 0.5px;
    }

    a.next-btn-red:hover{
      background-color: rgba(150, 14, 29, 1);
    }


    a.next-btn-yellow{
      background-color: rgba(183,142,50,0.3);
      color: #FFF;
      text-align: left;
      padding: 10px 25px;
      border-radius: 20px;
      display: block;
      width: 150px;
      letter-spacing: 0.5px;
    }

    a.next-btn-yellow:hover{
      background-color: rgba(183,142,50,1);
    }

    a.next-btn-blue{
      background-color: rgba(27,54,109,0.3);
      color: #FFF;
      text-align: left;
      padding: 10px 25px;
      border-radius: 20px;
      display: block;
      width: 150px;
      letter-spacing: 0.5px;
    }

    a.next-btn-blue:hover{
      background-color: rgba(27,54,109,1);
    }

/*-----  End of content pages and steps styles  ------*/

/*==========  result styles  ==========*/

    section.result{
      text-align: center;
      position: relative;
      -webkit-transform: translate(0px, -50%);
      -moz-transform: translate(0px, -50%);
      -o-transform: translate(0px, -50%);
      transform: translate(0px, -50%);
      top: 30%;
    }

    .txt-result-01{
      font-size: 30px;
      padding-bottom: 30px;
      color: rgb(35, 71, 137);
    }

    .txt-share{
      font-size: 19px;
      color: rgb(206, 36, 50);
      padding-bottom: 15px;
    }

    figure.logo-CO{
      position: relative;
      left: 240px;
      top: 40px;
    }


    .status header{
        width: 600px;
        margin: 0 auto;
        background-color: #FFF;
        padding: 40px;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #FFF;
      position: relative;
      bottom: -55px;
      left: 47%;
    }

    p.msg-status{
      font-family: 'American-Typewriter', serif;
      font-size: 17px;
    }

    span.col-name{
      font-family: 'Futura-Bold', sans-serif;
      font-size: 20px;
      color: #0655A3;
    }

    p.date-txt{
      font-family: 'Arial', sans-serif;
      font-size: 13px;
      color: #818181;
      margin-top: 10px;
    }

    p.msg-final{
      font-size: 48px;
      color: rgb(35, 71, 137);
      margin-top: 40px;
    }


    p.msg-second{
      color: #FFF;
      font-size: 22px;
      letter-spacing: 0.5px;
      margin: 10px 0px 45px;
    }

    .share-facebook, .share-twitter {
        height: 35px;
        width: 297px;
        margin: 10px auto;
        cursor: pointer;
    }

    .share-facebook span{
      display: block;
      background-color: rgba(99,133,192,1);
      color: #FFF;
      padding: 8px;
      float: left;
    }

    .share-twitter span{
      display: block;
      background-color: #53BFEB;
      color: #FFF;
      padding: 8px;
      float: left;
    }

    i.ico-share-face{
      background-color: rgba(99,133,192,1);
      color: #FFF;
      padding: 10px;
      width: 35px;
      height: 35px;
      float: left;
      margin-left: 5px;
    }

    i.ico-share-twit{
      background-color: #53BFEB;
      color: #FFF;
      padding: 10px;
      width: 35px;
      height: 35px;
      float: left;
      margin-left: 5px;
    }

/*==========================================
=            main-footer styles            =
==========================================*/
    .main-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2em;
      z-index: 999;
      height: 5px;
      padding-top: 0px;
    }

    /* socialmedia */
    nav.social-networks li{
      float: left;
      margin-left: 10px;
    }

    nav.social-networks h5 a{
      color: #FFF;
      font-family: 'Futura-Bold', sans-serif;
      font-weight: normal;
      letter-spacing: 0.5px;
    }

    .co-icon-yellow{
      color: #F5C530;
      font-size: 1.3em;
    }

    .co-icon-blue{
      color: #234789;
      font-size: 1.3em;
    }

    .co-icon-red{
      color: #CE2432;
      font-size: 1.3em;
    }

    /* icons social-networks */

    .social-networks li a.face-icon,
    .social-networks li a.twitter-icon,
    .social-networks li a.insta-icon{
      width: 18px;
      height: 18px;
      display: block;
      text-indent: -9999px;
    }

    .social-networks li a.face-icon{
      background: url('../images/face-ico.png') no-repeat 0 0;
    }

    .social-networks li a.twitter-icon{
      background: url('../images/twitter-ico.png') no-repeat 0 0;
    }

    .social-networks li a.insta-icon{
      background: url('../images/insta-ico.png') no-repeat 0 0;
    }

    /* brand-tag styles */

    .brandTag{
      text-align: right;
    }

    .brandTag h6{
      color: #FFF;
      font-size: 1em;
      font-weight: normal;
      font-style: normal;
      margin-top: -13px;
    }

    .brandTag h6 span.logoCo{
      background: url('../images/logoBrandtagFooter.png') no-repeat 0 0;
      width: 40px;
      height: 40px;
      font-size: 0;
      display: inline-block;
      line-height: 55px;
    }


/*-----  End of main-footer styles  ------*/


/*===========================================================
=            media queries screen 481px to 767px            =
===========================================================*/
    @media only screen and (min-width : 761px) and (max-width : 1023px) {
          

        .first-q, .second-q, .tirth-q, .fourth-q, .fifth-q, .sixth-q{
          
          margin-top: -100px !important;
        }

        .q-selector{
          margin-top: -30px;
        }

        .title-question-1{
          font-size: 23px;
          left: 67px;
          top: 140px;
        }

        .title-question-2{
          font-size: 20px;
          left: 70px;
          top: 140px;
        }

        .title-question-3{
          font-size: 22px;
          left: 110px;
          width: 150px;
          top: 112px;
        }

        .title-question-4{
          font-size: 18px;
          top: 150px;
        }

        .title-question-5{
          font-size: 25px;
          top: 130px;
        }

        .title-question-6{
          font-size: 23px;
          left: 90px;
          width: 186px;
          top: 150px;
        }

        h2.intro-header{
          font-size: 55px;
          width: 550px;
          margin-bottom: 100px
        }

        section.intro{
          margin-bottom: 180px;
        }

        section.name-step{
          margin-bottom: 180px;
        }

        /* footer styles */
        .social-networks{
          text-align: center;
          width: 240px;
          float: left;
          margin-top: -40px !important;
        }

        .brandTag {
          text-align: center;
          float: right !important;
          margin-top: -40px !important;

        }

        .brandTag h6{
          /*margin-left: 350px;*/
          float: right !important;
        }
        html,body{
          /*background: black !important;*/
        }
        .q-selector{
          padding-left: 60px;
          padding-right: 0;
          width: 550px;
        }

        .status header {
          width: 400px;
          padding: 40px;
        }

        .arrow-down{
          bottom: -52px;
          left: 47%;
        }

        p.msg-final{
          font-size: 34px;
        }

        p.msg-second{
          font-size: 18px;
        }

        .share-facebook, .share-twitter{
          width: 300px;
        }

        .main-footer{
          position: absolute;
          bottom: 0px !important;

        }

        .arrow_right_last{
          display: none;
        }

<<<<<<< HEAD
=======
        figure.logo-CO{
          position: relative;
          left: 140px;
          top: 40px;
        }


>>>>>>> 696c910481c3a46ae741617df5e887deb171d52d
    }
/*-----  End of media queries screen 481px to 767px  ------*/


/*================================================================
=            media queries phonescreen 320px to 480px            =
================================================================*/

    @media only screen and (min-width : 320px) and (max-width:480px)  {
      
      .wrap-q{

      }

      .padding-top-mquery{
        padding-top: 30px;
      }

      .main-header{
        padding:1rem;
        padding-bottom:4rem;
      }

      h2.intro-header{
        font-size: 28px;
        width: 240px;
      }

      .arrow_right{
        right: 5px;
      }

      .arrow_right_last{
        display: none;
      }

      a.next-btn-arrow, .next-btn-arrow_last{
        font-size: 1.3em;
      }

      nav.slidernav-top ol{
        right: 15px;
      }

      nav.slidernav-top ol li{
        margin-left: 7px;
      }

      .main-header h2{
        font-size: 0.8em;
        margin-top: 10px;
        margin-bottom: 20px;
      }

      section.intro{
        -webkit-transform: translate(0px, -90%);
        -moz-transform: translate(0px, -90%);
        -o-transform: translate(0px, -90%);
        transform: translate(0px, -90%);
        margin-bottom: 150px;
      }

      section.name-step{
        -webkit-transform: translate(0px, -75%);
        -moz-transform: translate(0px, -75%);
        -o-transform: translate(0px, -75%);
        transform: translate(0px, -75%);
        margin-bottom: 100px;
      }


      /* footer styles */
      .social-networks{
        text-align: center;
        width: 240px;
        margin: 20px auto;
      }

      .brandTag {
        text-align: center;
      }

      .brandTag h6{
        margin-left:-15px;
        margin-top: 0;
      }

      .name-step h3 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      input.name-input{
        width: 240px;
        margin: 0 auto;
        height: 48px;


      }

      .questions{
        margin-top: 0;
      }

      .wrap-q{
        width: 300px;
        margin-top: -100px;
      }

      #drop_container{
        width: 300px;
      }

      .title-question-1, .title-question-2, .title-question-3,
      .title-question-4, .title-question-5, .title-question-6{
        font-size: 25px;
        left: 78px;
        width: 150px;
        top: 115px;
      }

      .title-question-2{
        font-size: 23px;
        left: 78px;
        top: 105px;
      }

      .title-question-3{
        font-size: 22px;
        left: 80px;
        width: 150px;
        top: 112px;
      }

      .title-question-4{
        font-size: 18px;
        top: 130px;
      }

      .title-question-5{
        font-size: 25px;
        top: 110px;
      }

      .title-question-6{
        font-size: 23px;
        left: 59px;
        width: 186px;
        top: 160px;
      }

      .q-selector{
        padding-left: 60px;
        padding-right: 0;
        width: 300px;
      }

      label.radio-red, label.radio-yellow, label.radio-blue {
        display: block;
        color: #FFF;
        font-size: 18px;
        margin-bottom: 40px;
        line-height: 28px;
      }

      section.result{
        top: 65%;
      }

      .txt-result-01{
        font-size: 19px;
        margin-top: 30px;
      }

      .status{
        margin-bottom: 70px;
      }

      .status header{
        width: 280px;
        padding: 20px;
      }

      .arrow-down{
        bottom: -30px;
        left: 42%;
      }

      p.msg-final{
        font-size: 23px;
      }

      p.msg-second{
        font-size: 20px;
      }

      .share-facebook, .share-twitter{
        width: 300px;
      }

      .main-footer{
        position: static;
      }

<<<<<<< HEAD
      .hideTextPhone{
        display: none;
=======
      figure.logo-CO{
        position: relative;
        left: 90px;
        top: 30px;
>>>>>>> 696c910481c3a46ae741617df5e887deb171d52d
      }

    }

/*-----  End of media queries phonescreen 320px to 480px  ------*/
/*================================================================
=            media queries phonescreen 359px to 374px            =
================================================================*/

    @media only screen and (min-width : 359px) and (max-width:374px)  {

      h2.intro-header{
        font-size: 25px;
        width: 240px;
        line-height: 28px;
      }

      p.msg-final{
        font-size: 34px;
        line-height: 28px;
      }

      p.msg-second{
        font-size: 20px;
        line-height: 28px;
      }

      p.txt-share{
        font-size: 19px;
        color: rgb(206, 36, 50);
        padding-bottom: 15px;
        line-height: 28px;
      }

<<<<<<< HEAD
    }
=======
      figure.logo-CO{
        position: relative;
        left: 90px;
        top: 30px;
      }
>>>>>>> 696c910481c3a46ae741617df5e887deb171d52d


/*-----  End of media queries screen 359px to 374px  ------*/

/*================================================================
=            media queries phonescreen 481px to 374px            =
================================================================*/

    @media only screen and (min-width : 481px) and (max-width:760px)  {
      
      section.intro {
        height: 200px;
      }

      

      h2.intro-header{
        font-size: 30px;
        width: 240px;
        line-height: 35px;
      }

      p.msg-final{
        font-size: 34px;
        line-height: 28px;
      }

      p.msg-second{
        font-size: 20px;
        line-height: 28px;
      }

      p.txt-share{
        font-size: 19px;
        color: rgb(206, 36, 50);
        padding-bottom: 15px;
        line-height: 28px;
      }

      .brandTag h6 {
        color: #FFF;
        font-size: 1em;
        font-weight: normal;
        font-style: normal;
        margin-top: -40px;
      }

      .name-step h3 {
        color: #FFF;
        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 30px;
      }

      section.name-step {
        text-align: center;
        position: relative;
        -webkit-transform: translate(0px, -50%);
        -moz-transform: translate(0px, -50%);
        -o-transform: translate(0px, -50%);
        transform: translate(0px, -50%);
        top: 30%;
      }
      
      .title-question-1 {
        top: 135px;
        left: 65px;
        font-size: 1.4em;
      }

      .title-question-2 {
        top: 130px;
        left: 65px;
        font-size: 1.4em;
      }

      .title-question-3 {
        top: 115px;
        left: 65px;
        font-size: 1.4em;
      }

      .title-question-4 {
        top: 110px;
        left: 65px;
        font-size: 1.4em;
      }

      .title-question-5 {
        top: 130px;
        left: 65px;
        font-size: 1.4em;
      }

      .title-question-6 {
        top: 150px;
        left: 65px;
        font-size: 1.4em;
      }

      label.radio-red, label.radio-yellow, label.radio-blue {
        display: block;
        color: #FFF;
        font-size: 18px;
        margin-bottom: 40px;
      }

      .q-selector{
        width: 500px !important;
        float: right;
        margin-top: -30px;
      }

      .first-q, .second-q, .tirth-q, .fourth-q, .fifth-q, .sixth-q{
        float: left !important;
        width: 100%;
        margin-top: -100px !important;
      }
      .main-footer {
        float: left !important;
        width: 100% !important;
      }
      .radio-yellow,.radio-red{
        width: 100% !important;
      }

      .main-header h2{
        font-size: 15px !important;
      }
      .share-facebook span{
        width: 80% !important;
        font-size: 10px;
      }
      i.ico-share-face{
        width: 10% !important;
      }
      .share-twitter span{
        width: 80% !important;
        font-size: 10px;
      }
      i.ico-share-twit{
        width: 10% !important;
      }
    }


/*-----  End of media queries screen 359px to 374px  ------*/

@-moz-document url-prefix() {
   section.result{
     top: 25% !important;
   }
   nav.social-networks li{
     float: left;
     margin-left: 10px;
     margin-top: 50px;
   }
   .brandTag h6{
     color: #FFF;
     font-size: 1em;
     font-weight: normal;
     font-style: normal;
     margin-top: 35px;
   }
}